[Unit]
Description=Aria2c Deamon
After=network.target

[Service]
Type=simple
User=root
ExecStartPre=/bin/rm /root/.aria2c/aria2.log
ExecStart=/usr/local/bin/aria2c --console-log-level=warn --conf-path="/root/.aria2c/aria2.conf"
TimeoutStopSec=20
Restart=on-failure
StandardOutput=file:/root/.aria2c/aria2.log
StandardError=file:/root/.aria2c/aria2.log

[Install]
WantedBy=multi-user.target
